  <title>Form</title>
  <link href="style.css" rel="stylesheet" type="text/css">
	<form action="/" method="post" class="reg-form" enctype="application/x-www-form-urlencoded">
		<div class="form-row">
			<label for="form_name">Name: </label>
    		<input type="text" id="form_name" name="name">
  		</div>

		<div class="form-row">
			<label for="form_pw">Password: </label>
			<input type="password" id="form_pw" name="password">
		</div>

		<div class="form-row">
			<input type="submit" value="Oke">
		</div>
</form>
